body{
    margin: 0px;
    padding: 0px;
    font-size:14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.4;
    color: #fff;
    background-color: #1F618D;
}
.container{
    display:flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-wrap: wrap;
    margin-right:20px;
    margin-left:20px;
}
.item{
    flex-basis:30%; 
    margin-top: 20px;
    border:1px solid #5F9EA0;
}
.container img{
    padding-top: 10px;
    width: 200px;
    height: 150px;
    display: block;
    margin:auto;
}
.card-title{
    text-align: center;
    background-color: #85929E;
}
h2{
    margin: 0px;
    border-bottom: 1px solid lightblue;
}
.product-availablity{
    background-color: #a9a9a9;
    color:yellow;
    margin-bottom:0px;
    text-align: center;
    position: relative;
}
.pricing-details,
.product-size-and-weight{
    padding-left: 20px;
}
.product-description,
.product-specification,
.pricing,footer,
.product-availablity{
    padding: 5px;
    margin-top: 0px;
}
.soldout {
    position: absolute;
    top:50px;
    right:120px;
    opacity: 0.2;
    filter: alpha(opacity=90)
}
.product-description{
    text-align: justify;
}
.price-details{
    line-height:1.4;
}
footer{
    font-size: 12px;
    margin-top: 0px;
}